.k3ldark { color: #222222; background-color: #00bc8c; font-weight:bold; }
.k3lwhite { color: #ffffff; background-color: #00bc8c; font-weight:normal; }
.k3lext { color: #00bc8c; font-weight:normal; }
.LogoColor {color:#ff9900; }
